<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuzx.atest">

    <!-- 网络和外部存储读写权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networkconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JchSmart">
        <activity
            android:name=".login.ImageItemListActivity"
            android:label="@string/title_imageitem_list"
            android:theme="@style/Theme.JchSmart.NoActionBar"></activity>
        <activity
            android:name=".login.ImageItemDetailActivity"
            android:label="@string/title_imageitem_detail"
            android:parentActivityName=".login.ImageItemListActivity"
            android:theme="@style/Theme.JchSmart.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wuzx.atest.login.ImageItemListActivity" />
        </activity>
        <activity
            android:name=".login.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.JchSmart.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/validation" />
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/validation" />
        </activity>
        <activity android:name=".TestListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opencv.FdActivity"
            android:label="@string/face_detect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/opencv" />
        </activity>
        <activity
            android:name=".media.MediaAppControllerActivity"
            android:label="@string/media_controller">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/media" />
        </activity>
        <activity
            android:name=".media.MediaPlayerActivity"
            android:label="@string/media_player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/media" />
        </activity>
        <activity
            android:name=".tts.TtsActivity"
            android:label="@string/media_tts">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.wuzx.intent.category.MANUAL_TEST" />
            </intent-filter>

            <meta-data
                android:name="test_category"
                android:value="@string/media" />
        </activity>
    </application>

</manifest>